body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-image: url('../../Imagenes/Fondo-Index.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 20vh;
  width: 95%;
}

#imgLogo {
  width: 100px;
  height: 100px;
}

#contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100%;
}

h1 {
  font-size: 50px;
  margin: 0;
  font-family: "Henny Penny", system-ui;
  text-shadow: 2px 2px 4px black;
  color: #ffaa33;
}

#descripcion {
  font-size: 30px;
  color: #d84f19;
  text-shadow: 1px 1px 2px black;
  font-family: "Henny Penny", system-ui;
  text-align: center;
}

#formularioNuevoJugador {
  background: #fffbe628;
  border: 3px solid #91a492;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  padding: 25px;
  width: 50%;
  text-align: center;
  font-family: "Henny Penny", system-ui;
  color: #d84f19;
  text-shadow: 1px 1px 2px black;
}

#formularioNuevoJugador label {
  display: block;
  margin: 10px 0 5px;
  font-size: 26px;
}

#formularioNuevoJugador select,
#formularioNuevoJugador input {
  width: 80%;
  border-radius: 8px;
  border: 2px solid #8e9491;
  padding: 8px;
  font-family: "Boogaloo", sans-serif;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}

button {
  color: #e9c46a;
  background: #91a492;
  border-color: #182b23;
  font-family: "Henny Penny", system-ui;
  font-size: 18px;
  padding: 8px 24px;
  border-radius: 10px;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
  display: inline-block;
}


/* Footer */
#pieNuevaPartida {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 5vh;
  background: transparent;
  margin-top: auto;
}

#derechos {
  font-size: 18px;
  margin: 0;
  color: beige;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-family: 'Times New Roman', Times, serif;
}


/* ======== TABLET (max-width: 992px) ======== */
@media (max-width: 992px) {

  #encabezado {
    height: 13vh;
  }

  #imgLogo {
    width: 80px;
    height: 80px;
  }

  h1 {
    font-size: 40px;
  }

  #descripcion {
    font-size: 1.4rem;
  }

  #formularioNuevoJugador {
    width: 70%;
    font-size: 1rem;
  }

  button {
    font-size: 20px;
    padding: 8px 26px;
  }

  #derechos {
    font-size: 16px;
  }
}


/* ======== CELULAR (max-width: 576px) ======== */
@media (max-width: 576px) {

  #encabezado {
    height: 10vh;
    width: 96%;
  }

  #imgLogo {
    width: 50px;
    height: 50px;
  }

  h1 {
    font-size: 32px;
  }

  #descripcion {
    font-size: 14px;
    width: 85%;
  }

  #formularioNuevoJugador {
    width: 85%;
    padding: 15px;
  }

  #formularioNuevoJugador label {
    font-size: 18px;
  }

  button {
    font-size: 18px;
    padding: 8px 20px;
  }

  #derechos {
    font-size: 12px;
  }
}