body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../Imagenes/Fondo tablero.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Boogaloo", sans-serif;
    color: #182b23;
}

#tablerosContainer {
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

#botonesGlobales {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    background: transparent;
    padding: 0;
    border: none;
    box-shadow: none;
}

#dadoGlobal {
    width: 100px;
    height: 100px;
}

#turnoActualTexto {
    font-family: "Henny Penny", system-ui;
    font-size: 55px;
    /* ← cambiar tamaño acá */
    text-shadow: 2px 2px 4px black;
    color: #ffaa33;
    margin: 10px;
}

#lanzarDado,
#finalizar,
#pausar {
    background-color: #91a492;
    color: #e9c46a;
    border: 2px solid #182b23;
    border-radius: 10px;
    text-shadow: 1px 1px 2px black;
    font-family: "Henny Penny", system-ui;
    font-size: 20px;
    padding: 8px 24px;
    cursor: pointer;
}

.tableroJugador {
    background: #fffbe628;
    border: 3px solid #91a492;
    border-radius: 15px;
    padding: 20px;
    width: 900px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.tableroJugador.activo {
    outline: 4px dashed #ffcc00;
    box-shadow: 0 0 20px #ffcc00;
}

.nombreJugador {
    font-size: 50px;
    color: #91a492;
    text-shadow: 1px 1px 2px black;
    font-family: "Henny Penny", system-ui;
    text-align: center;
}

.contenedorTablero {
    border: 3px solid #5c8a4f;
    border-radius: 15px;
    background-color: #fffbe628;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.tablero {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
    display: block;
    pointer-events: none;
}

.contenedorFicha {
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.zona {
    position: absolute;
    z-index: 50;
    width: 80px;
    height: 80px;
    pointer-events: auto !important;
}

[data-zona="zona1"] {
    top: 8%;
    left: 10%;
    width: 200px;
    height: 150px;
}

[data-zona="zona2"] {
    top: 12%;
    left: 67%;
    width: 90px;
    height: 66px;
}

[data-zona="zona3"] {
    top: 40%;
    left: 10%;
    width: 150px;
    height: 160px;
}

[data-zona="zona4"] {
    top: 69%;
    left: 15%;
    width: 160px;
    height: 180px;
}

[data-zona="zona5"] {
    top: 42%;
    left: 62%;
    width: 230px;
    height: 150px;
}

[data-zona="zona6"] {
    top: 79%;
    left: 50%;
    height: 100px;
    width: 100px;
}

[data-zona="zona7"] {
    top: 67%;
    left: 75%;
    height: 130px;
    width: 140px;
}

.contenedorFicha {
    margin-top: 10px;
    text-align: center;
}

.contador {
    font-family: "Henny Penny";
    font-size: 25px;
    color: #e9c46a;
    text-shadow: 2px 2px 4px black;
}

.ficha {
    width: 45px;
    height: 45px;
    cursor: grab;
}

#pieDePagina {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 100%;
    min-height: 5vh;
    margin-top: auto;
}

#derechos {
    font-size: 22px;
    margin: 0;
    width: 100%;
    color: beige;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-family: 'Times New Roman', Times, serif;
}

/*Responsive para tablet*/
@media (max-width: 992px) {
    .tableroJugador {
        width: 95%;
    }

    #turnoActualTexto {
        font-size: 26px;
    }
}

/*Responsive para celular*/
@media (max-width: 576px) {
    #dadoGlobal {
        width: 60px;
        height: 60px;
    }

    #turnoActualTexto {
        font-size: 18px;
    }

    .tableroJugador {
        width: 100%;
        padding: 10px;
    }

    .ficha {
        width: 25px;
        height: 25px;
    }

    .nombreJugador {
        font-size: 22px;
    }

    .contador {
        font-size: 18px;
    }
}